@page "/login"
@inject NavigationManager Navigation
@inject HttpClient Http
@using Models

<PageTitle>Login</PageTitle>

<div class="item">
    <h1> - LOGIN - </h1>
    <form class="container">


        <label>Email: </label>
        <br>
        <input @bind="Email" type="email" placeholder="Email" class="input">

        <br>
        <br>

        <label>Senha: </label>
        <input @bind="Senha" type="password" placeholder="Senha" class="input">

        <button type="button" @onclick="Logar" class="btn">Entrar</button>
    </form>
</div>

@code {
    private string Email { get; set; }
    private string Senha { get; set; }
    public static bool Logado { get; set; } = false;
    public static User Usuario { get; set; } = new User();
    public static string Token { get; set; }
    private async Task Logar()
    {

        var response = await Http.PostAsJsonAsync("/login", new User
            {
                UserId = 0,
                UserName = "string",
                UserEmail = Email,
                UserPassword = Senha,
                UserAbout = "string"
            });

        if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            Navigation.NavigateTo("/cadastro");
        }
        var resultado = await response.Content.ReadFromJsonAsync<ResponseLogin>();
        if (resultado != null)
        {
            Usuario = resultado.User;
            Token = resultado.Token;
            Logado = true;
            Navigation.NavigateTo("/user");
        }
    }

}


