@page "/login"
@inject NavigationManager Navigation
@inject HttpClient Http
<PageTitle>Login</PageTitle>

<div class="item">
    <h1> - LOGIN - </h1>
    <form class="container">


        <label>Email: </label>
        <br>
        <input @bind="Email" type="email" placeholder="Email" class="input">

        <br>
        <br>

        <label>Senha: </label>
        <input @bind="Senha" type="password" placeholder="Senha" class="input">

        <button type="button" @onclick="Logar" class="btn">Entrar</button>
    </form>
</div>

@code {

    private string Email { get; set; }

    private string Senha { get; set; }

    public static Usuario User { get; set; } = new Usuario();

    public static bool Logado { get; set; } = false;

    private async Task Logar()
    {
        var response = await Http.PostAsJsonAsync("/user/Login", new LoginDTO { Email = Email, Senha = Senha });
        if (response.IsSuccessStatusCode)
        {
            var usr = await response.Content.ReadFromJsonAsync<Usuario>();
            if (usr != null)
            {
                User = usr;
                Logado = true;
            }
            Navigation.NavigateTo("/user");
        }
        else
            Navigation.NavigateTo("/cadastro");
    }


    public class LoginDTO
    {
        public string Email { get; set; }
        public string Senha { get; set; }
    }

    public class Usuario
    {
        public int UserId { get; set; }
        public string UserName { get; set; }
        public string UserEmail { get; set; }
        public string UserPassword { get; set; }
        public string UserAbout { get; set; }
    }
}
