@page "/cadastro"
@inject NavigationManager Nav
@inject HttpClient Http

<form>
        <h1>Login</h1>
        <div class="form-group">
            <label>Insira seu Nome</label>
            <input @bind="UserName" type="text" required>
        </div>
        <div class="form-group">
            <label>Insira seu email</label>
            <input @bind="UserEmail" type="email" required>
        </div>
        <div class="form-group">
            <label>Insira sua senha</label>
            <input @bind="UserPassword" type="password" placeholder="Senha" required>
        </div>
        <button type="button" @onclick="Create">Entrar</button>
    </form>

@code{
    public string UserName { get; set; }
    public string UserEmail { get; set; }
    public string UserPassword { get; set; }

    public async Task Create()
    {
        
            var response = await Http.PostAsJsonAsync("/user/New", new Login.Usuario {
                UserId = 0,
                UserName = UserName,
                UserEmail = UserEmail,
                UserPassword = UserPassword,
                UserAbout = "Fale um pouco sobre você, sintase a vontade ^-^ "
            });
            if (response.IsSuccessStatusCode)
            {
                Nav.NavigateTo("/login");
            }
            else
            {
                Nav.NavigateTo("/cadastro");
            }
        
    }
}