@page "/"
@inject NavigationManager Navigation

<h1>Bem vindo</h1>

@if(Login.Login.User.UserName != null)
{
    <h1>Olá @Login.Login.User.UserName</h1>
}

<button @onclick="log">logar</button>

@code {

    private void log()
    {
        Navigation.NavigateTo("/login");
    }
}