@inherits LayoutComponentBase
@inject NavigationManager Nav
<link href="Agenda_Interface.razor.css" rel="stylesheet">
<header class="nav-bar">
    @if (Pages.Login.Login.Logado)
    {
        <a href="/user" style="text-decoration: none;">
            <div class="div-logo">

                <img src="/IMG/logo.ico" class="logo">
                <h2>AGENDA</h2>

            </div>
        </a>
    }
    else
    {
        <a href="#" style="text-decoration: none;">
            <div class="div-logo">

                <img src="/IMG/logo.ico" class="logo">
                <h2>AGENDA</h2>

            </div>
        </a>
    }

    <div class="espaco">
    </div>

    @if (Pages.Login.Login.Logado)
    {
        <div class="div-buttons">
            <button class="btn" type="button" @onclick="add">ANOTAR</button>
            <button class="btn" type="button" @onclick="Notes">NOTES</button>
        </div>
    }
    else
    {
        <div class="div-buttons">
            <button class="btn" type="button" @onclick="navLog">LOGIN</button>
            <button class="btn" type="button" @onclick="create">REGISTRAR-SE</button>
        </div>
    }

</header>
<main>
    @Body
</main>

@code {
    private string Busca { get; set; }

    private void navLog()
    {
        Nav.NavigateTo("/login");
    }

    private void create()
    {
        Nav.NavigateTo("/cadastro");
    }

    private void add()
    {
        Nav.NavigateTo("/addNota");
    }

    private void Notes()
    {
        Nav.NavigateTo("/notes");
    }



}
