@page "/user"
@inject NavigationManager Nav
@inject HttpClient http
@using Models

@if (Login.Login.Logado)
{
    <div class="conteudo">
        <div class="dados_user">
            <h2>@Login.Login.Usuario.UserName</h2>
            <br><br>
            <h3>
                @Login.Login.Usuario.UserAbout
            </h3>
            <br><br><br>
            <button class="btn" @onclick="Editar">Editar dados</button>
            <br><br><br>
            <button class="btn" @onclick="Sair">Sair</button>
        </div>

        <div class="ultima_nota">
            <h2>Ultima nota 📝</h2>
            <br><br>
            <div>
                <br><br>
                <p>
                    @UltimaNota
                </p>
            </div>
        </div>
    </div>
}


@code {
    private string UltimaNota { get; set; }
    private void Editar()
    {
        Nav.NavigateTo("/update");
    }
    private void Sair()
    {
        Nav.NavigateTo("/", forceLoad: true);
    }

    protected override async Task OnInitializedAsync()
    {
        http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("bearer", Login.Login.Token);
        var response = await http.GetFromJsonAsync<Annotation>($"/Annotation/ultimaAnot?IdUser={Login.Login.Usuario.UserId}");
        UltimaNota = response.Text;
    }

    

}
